h4 {
    font-size: 1.3rem;    
}
p {
    font-size: 1rem;
}
.w-80 {
    width: 80%;
}
.bg-fff{
    background: #fff !important;
}
  
.bg-gray {
    background: #e7e7e7 !important;
}
  

.w-35 {
    width: 35%;
}
.w-30 {
    width: 30%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}